
a {
  transition: $transition;
  text-decoration: none;
}

.has-white-color > a {
  color: #fff;

  &:hover, &:active, &:focus {
    color: shift-color(#fff, $link-shade-percentage);
  }
}

//this is used to add margin so that fixed top does not overlap content
.site-content {
  margin-top: $header-height;
}

.home {
  .site-content {
    margin-top: 0;
  }
}

@include media-breakpoint-up(xl) {
  //this is used to add margin so that fixed top does not overlap content
  .site-content {
    margin-top: $header-height-desktop;
  }
}