.btn-secondary {
  color: #fff;
}

/*.wp-block-buttons {
  > .wp-block-button {
    margin-bottom: 1rem;
  }
}*/

.wp-block-button__link.has-secondary-background-color, .btn-secondary {
  &:hover {
    color: #fff;
    background-color: darken($secondary, 10%);
  }
}

.wp-block-button__link.has-primary-background-color, .primary {
  &:hover {
    color: #fff;
    background-color: darken($primary, 10%);
  }
}

//outline buttons
.is-style-outline {
  > .wp-block-button__link.has-primary-color {
    color: $primary;

    &:hover {
      color: #fff;
      background-color: $primary;
    }
  }

  > .wp-block-button__link.has-secondary-color {
    color: $secondary;

    &:hover {
      color: #fff;
      background-color: $secondary;
    }
  }

  > .wp-block-button__link.has-white-color {
    &:hover {
      color: #fff;
      background-color: $secondary;
    }
  }
}