.navbar.main-navbar {
  background-color: $header-bg-color;
  &.scrolled {
    background-color: $header-bg-color-scrolled;
  }
}

.home {
  .navbar.main-navbar {
    background-color: $header-bg-color-home;
    &.scrolled {
      background-color: $header-bg-color-home-scrolled;
    }
  }
}

.offcanvas-end {
  width: 320px;
}

.offcanvas.show {
  transform: translateX(0);
}